$greenFloatBtn: #2E7D32;
$greenDark: #339A83;
$green600: #43A047;
$cyanDark: #307F97;
$cyan700: #0097A7;
$purpleDark: #4D2F75;
$purple700: #512DA8;

.mainTitle {
  cursor: pointer !important;
  font-weight: bold !important;
}

.avatar {
  cursor: pointer !important;
  margin-top: 3px !important;
}

.floatBtn {
  position: fixed !important;
  right: 20px !important;
  bottom: 20px !important;
  z-index: 3 !important;
}
.floatBtnOpen {
  @extend .floatBtn;
  bottom: 90px !important;
}

.fixedTabs {
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
  z-index: 2 !important;
  margin: 0 auto !important;
  width: 100% !important;
}

.doubleLineToolbarTitle {
    color: white !important;
    font-size: 0.8em !important; 
    line-height: 1rem !important;
}
.smallCapsToolbarTitle {
    color: white !important;
    font-variant: small-caps !important; 
}
.smallCapsToolbarTitle:hover {
    background-color: $cyan700 !important;
    padding-left: 1.2rem;
}

.pointerCursor {
    cursor: pointer !important;
}

.whiteColor {
    color: white !important;
}

.createTab {
    background-color: $greenFloatBtn !important;
    color: white !important;
}
.createTab:hover {
    background-color: $green600 !important;
    color: white !important;
}
.sureTab {
    background-color: $purpleDark !important;
    color: white !important;
}
.sureTab:hover {
    background-color: $purple700 !important;
    color: white !important;
}
.unsureTab {
    background-color: $greenDark !important;
    color: white !important;
}
.unsureTab:hover {
    background-color: $green600 !important;
    color: white !important;
}
.unknownTab {
    background-color: $cyanDark !important;
    color: white !important;
}
.unknownTab:hover {
    background-color: $cyan700 !important;
    color: white !important;
}

.scoreNormal {
    color: $purpleDark !important;
    margin-right: 1.2em !important; 
    font-size: 1em !important;
    font-weight: 400;
}
.scoreBad {
  @extend .scoreNormal;
  color: red !important;
}
.scoreGood {
  @extend .scoreNormal;
  color: $greenFloatBtn !important;
}

.lowerThinText {
    text-transform: lowercase;
    font-weight: 100;
}

.lowerText {
    text-transform: lowercase;
}